window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    opacity 0.85
    draw-border-with-background false
    
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
        xray false
    }
}

layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match is-active=false
    opacity 0.80
}

window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
   match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
   default-floating-position x=10 y=10 relative-to="bottom-right"
   open-focused false
}

layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

window-rule {
    match app-id="firefox"
    match app-id="ONLYOFFICE"
    match app-id="mpv"
    open-maximized true
}

blur {
    passes 2      
    offset 2.0  
    noise 0.02    
    saturation 1.3
}
